.word-cloud {font-family: arial; font-size: 10px; }
.word-cloud-1 {font-size: 8px; color: #acc1f3; display:none;}
.word-cloud-2 {font-size: 16px; color: #86a0dc;}
.word-cloud-3 {font-size: 20px; color: #607ec5;}
.word-cloud-4 {font-size: 25px; color: #264ca2; }
.word-cloud-5 {font-size: 27px; color: #133b97; }
.word-cloud-6 {font-size: 28px; color: #133b97; }
.word-cloud-7 {font-size: 30px; color: #133b97; }
.word-cloud-8 {font-size: 31px; color: #133b97; }
.word-cloud-9 {font-size: 32px; color: #133b97; }
.word-cloud-10 {font-size: 34px; color: #133b97; }